sudo: false
dist: trusty
language: node_js
node_js:
    - "node"
    - "7.6.0"

branches:
  only:
    - master
cache:
  directories:
    - node_modules

install:
    - npm install
script:
    - npm run lint
    - npm run build

after_success:
    - cat ./coverage/lcov.info | node_modules/.bin/coveralls --verbose